<script>
	// var Stage = require('../../dist/main');
	// console.log(Stage)

	{*window.Stage.setParameters(JSON.parse({json_encode($stagingData)}));*}
	{*window.Stage.run();*}
</script>


{dump $stagingData}
